body{
    background-color: antiquewhite;
}
.contenedor_p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: rgb(247, 226, 193);
}

.logo{
    max-width: 8rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.904);
}

