.img_samcoly{
    width: 550px;
    height: 300px;
    border-radius: 25px;
    margin-right: 10px;
}
.img_samcoly2{
    width: 330px;
    height: 350px;
    border-radius: 20px;
    margin-right: 10px;
}
.img_samcoly3{
    width: 330px;
    height: 350px;
    border-radius: 20px;
}